## Spending Personality Test

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Import dataset 
df = pd.read_csv("./data/data.csv", sep='\t')

# Basic Info
df.shape
df.info()
display(df.head())
print("Shape:", df.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2240 non-null   int64
 1   Year_Birth           2240 non-null   int64
 2   Education            2240 non-null   object
 3   Marital_Status       2240 non-null   object
 4   Income               2216 non-null   float64
 5   Kidhome              2240 non-null   int64
 6   Teenhome             2240 non-null   int64
 7   Dt_Customer          2240 non-null   object
 8   Recency              2240 non-null   int64
 9   MntWines             2240 non-null   int64
 10  MntFruits            2240 non-null   int64
 11  MntMeatProducts      2240 non-null   int64
 12  MntFishProducts      2240 non-null   int64
 13  MntSweetProducts     2240 non-null   int64
 14  MntGoldProds         2240 non-null   int64
 15  NumDealsPurchases    2240 non-null   int64
 16  NumWebPurchases      2240 non-null   int64
 17  NumCatalogPurchases  2240 non-null   int64
 18  NumStorePurchases    2240 non-null   int64
 19  NumWebVisitsMonth    2240 non-null   int64
 20  AcceptedCmp3         2240 non-null   int64
 21  AcceptedCmp4         2240 non-null   int64
 22  AcceptedCmp5         2240 non-null   int64
 23  AcceptedCmp1         2240 non-null   int64
 24  AcceptedCmp2         2240 non-null   int64
 25  Complain             2240 non-null   int64
 26  Z_CostContact        2240 non-null   int64
 27  Z_Revenue            2240 non-null   int64
 28  Response             2240 non-null   int64
dtypes: float64(1), int64(25), object(3)
memory usage: 507.6+ KB

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,5,0,0,0,0,0,0,3,11,0

Shape: (2240, 29)

### Understanding the Data

In [3]:
display(df.describe(include="number").T.round(2))

,count,mean,std,min,25%,50%,75%,max
ID,2240.0,5592.16,3246.66,0.0,2828.25,5458.5,8427.75,11191.0
Year_Birth,2240.0,1968.81,11.98,1893.0,1959.00,1970.0,1977.00,1996.0
Income,2216.0,52247.25,25173.08,1730.0,35303.00,51381.5,68522.00,666666.0
Kidhome,2240.0,0.44,0.54,0.0,0.00,0.0,1.00,2.0
Teenhome,2240.0,0.51,0.54,0.0,0.00,0.0,1.00,2.0
Recency,2240.0,49.11,28.96,0.0,24.00,49.0,74.00,99.0
MntWines,2240.0,303.94,336.60,0.0,23.75,173.5,504.25,1493.0
MntFruits,2240.0,26.30,39.77,0.0,1.00,8.0,33.00,199.0
MntMeatProducts,2240.0,166.95,225.72,0.0,16.00,67.0,232.00,1725.0
MntFishProducts,2240.0,37.53,54.63,0.0,3.00,12.0,50.00,259.0
MntSweetProducts,2240.0,27.06,41.28,0.0,1.00,8.0,33.00,263.0
MntGoldProds,2240.0,44.02,52.17,0.0,9.00,24.0,56.00,362.0
NumDealsPurchases,2240.0,2.33,1.93,0.0,1.00,2.0,3.00,15.0
NumWebPurchases,2240.0,4.08,2.78,0.0,2.00,4.0,6.00,27.0
NumCatalogPurchases,2240.0,2.66,2.92,0.0,0.00,2.0,4.00,28.0
NumStorePurchases,2240.0,5.79,3.25,0.0,3.00,5.0,8.00,13.0
NumWebVisitsMonth,2240.0,5.32,2.43,0.0,3.00,6.0,7.00,20.0
AcceptedCmp3,2240.0,0.07,0.26,0.0,0.00,0.0,0.00,1.0
AcceptedCmp4,2240.0,0.07,0.26,0.0,0.00,0.0,0.00,1.0
AcceptedCmp5,2240.0,0.07,0.26,0.0,0.00,0.0,0.00,1.0
AcceptedCmp1,2240.0,0.06,0.25,0.0,0.00,0.0,0.00,1.0
AcceptedCmp2,2240.0,0.01,0.11,0.0,0.00,0.0,0.00,1.0
Complain,2240.0,0.01,0.10,0.0,0.00,0.0,0.00,1.0
Z_CostContact,2240.0,3.00,0.00,3.0,3.00,3.0,3.00,3.0
Z_Revenue,2240.0,11.00,0.00,11.0,11.00,11.0,11.00,11.0
Response,2240.0,0.15,0.36,0.0,0.00,0.0,0.00,1.0

In [4]:
# Quick category peek
for col in ["Education", "Marital_Status"]:
    if col in df.columns:
        print(f"\nValue counts for {col}:")
        print(df[col].value_counts(dropna=False).head(10))

Value counts for Education:
Education
Graduation    1127
PhD            486
Master         370
2n Cycle       203
Basic           54
Name: count, dtype: int64

Value counts for Marital_Status:
Marital_Status
Married     864
Together    580
Single      480
Divorced    232
Widow        77
Alone         3
Absurd        2
YOLO          2
Name: count, dtype: int64

### Cleaning

In [5]:
## Clean Categorical Columns
df['Marital_Status'] = df['Marital_Status'].str.strip()
df['Education'] = df['Education'].str.strip()

In [6]:
# Fixing Wired Martial_Status Entries
martial_map = {
    'Alone': 'Single',
    'Absurd': 'Single',
    'YOLO': 'Single',
}

df['Marital_Status_norm'] = df['Marital_Status'].replace(martial_map)


# Normalize 'Education' Entries
edu_map = {
    '2n Cycle': 'Graduate',
    'Graduation': 'Graduate',
    'Master': 'Post-Graduate',
    'PhD': 'Post-Graduate',
    'Basic': 'Basic'
}

df['Education_norm'] = df['Education'].replace(edu_map)

In [7]:
# Parse Data
df['Dt_Customer'] = pd.to_datetime(df['Dt_Customer'], errors='coerce', dayfirst=True)

In [8]:
# Impute Missing Income 
df['Income']= pd.to_numeric(df['Income'], errors='coerce')
group_median = df.groupby(['Education_norm', 'Marital_Status_norm'])['Income'].transform('median')
df['Income'] = df['Income'].fillna(group_median)
df['Income'] = df['Income'].fillna(df['Income'].median())

print("Remaining nulls in income:", df['Income'].isnull().sum())
df[['Education', 'Education_norm', 'Marital_Status', 'Marital_Status_norm']].head(10)

Remaining nulls in income: 0

    Education Education_norm Marital_Status Marital_Status_norm
0  Graduation       Graduate         Single              Single
1  Graduation       Graduate         Single              Single
2  Graduation       Graduate       Together            Together
3  Graduation       Graduate       Together            Together
4         PhD  Post-Graduate        Married             Married
5      Master  Post-Graduate       Together            Together
6  Graduation       Graduate       Divorced            Divorced
7         PhD  Post-Graduate        Married             Married
8         PhD  Post-Graduate       Together            Together
9         PhD  Post-Graduate       Together            Together

### Feature Engineering

In [9]:
# Reference date - Today for our age & tenure calculations
REF_DATE = pd.Timestamp.today().normalize()

# Calculate Customer Age
df['Age'] = REF_DATE.year - df['Year_Birth']

# Children QTY
df['Children'] = df['Kidhome'] + df['Teenhome']

# Customer Tenure  : Measures loyalty or relationship age
df['Customer_For_Days'] = (REF_DATE - df['Dt_Customer']).dt.days
df['Customer_For_Years'] = (df['Customer_For_Days'] / 365.25).round(1)


# Total Spending ( Sum of all Mnt* columns)
mnt_cols = [col for col in df.columns if col.startswith('Mnt')]
df['TotalMnt'] = df[mnt_cols].sum(axis=1)

# Total Purchase 
purchase_cols = [col for col in df.columns if col.startswith('Num') and col.endswith('Purchases')]
df['TotalPurchases'] = df[purchase_cols].sum(axis=1)

In [10]:

# Total Purchase 
purchase_cols = [col for col in df.columns if col.startswith('Num') and col.endswith('Purchases')]
df['TotalPurchases'] = df[purchase_cols].sum(axis=1)

# Average Spend Per Purchase 
df["AvgMntPerPurchase"] = np.where(df['TotalPurchases'] > 0,
                                   df['TotalMnt'] / df['TotalPurchases'], 
                                   np.nan)

In [11]:
# CHANNEL SHARES
for channel in ['Web', 'Catalog', 'Store']:
    col = f'Num{channel}Purchases'
    if col in df.columns:
        df[f'{channel}PurchaseShare'] = np.where(df['TotalPurchases'] > 0,
                                                 df[col] / df['TotalPurchases'],
                                                 np.nan)
        


# Deal Purchase Rate
df['DealPurchaseRate'] = np.where(df['TotalPurchases'] > 0,
                                  df['NumDealsPurchases'] / df['TotalPurchases'],
                                  np.nan)


# Campaign Response Rate
cmp_cols = [col for col in df.columns if col.startswith('AcceptedCmp')]
df['CampainsAccepted'] = df[cmp_cols].sum(axis=1)
df['Responded'] = (df['Response'] == 1).astype(int)

In [12]:
# Checking the changes 
df[['Age', 'Children', 'Customer_For_Years', 'TotalMnt', 'TotalPurchases', 
    'AvgMntPerPurchase', 'WebPurchaseShare', 'CatalogPurchaseShare',
    'StorePurchaseShare', 'DealPurchaseRate', 'CampainsAccepted', 'Responded']].head(10)

,Age,Children,Customer_For_Years,TotalMnt,TotalPurchases,AvgMntPerPurchase,WebPurchaseShare,CatalogPurchaseShare,StorePurchaseShare,DealPurchaseRate,CampainsAccepted,Responded
0,68,0,13.2,1617,25,64.680000,0.320000,0.400000,0.160000,0.120000,0,1
1,71,2,11.7,27,6,4.500000,0.166667,0.166667,0.333333,0.333333,0,0
2,60,0,12.2,776,21,36.952381,0.380952,0.095238,0.476190,0.047619,0,0
3,41,1,11.7,53,8,6.625000,0.250000,0.000000,0.500000,0.250000,0,0
4,44,1,11.8,422,19,22.210526,0.263158,0.157895,0.315789,0.263158,0,0
5,58,1,12.2,716,22,32.545455,0.272727,0.181818,0.454545,0.090909,0,0
6,54,1,13.0,590,21,28.095238,0.333333,0.142857,0.333333,0.190476,0,0
7,40,1,12.5,169,10,16.900000,0.400000,0.000000,0.400000,0.200000,0,0
8,51,1,12.4,46,6,7.666667,0.500000,0.000000,0.333333,0.166667,0,1
9,75,2,11.7,49,2,24.500000,0.500000,0.000000,0.000000,0.500000,1,0

## Data Cleaning & Feature Engineering Summary

### 1. Data Cleaning
We started by inspecting the dataset for missing values, incorrect data types, and inconsistent categories.

- **Missing Values:** Only the `Income` column had missing entries (~1%).  
  → Imputed using the **median income** of each `(Education_norm, Marital_Status_norm)` group.  
- **Categorical Normalization:**
  - Mapped unusual `Marital_Status` values like `"YOLO"`, `"Absurd"`, and `"Alone"` to `"Single"`.
  - Simplified `Education` levels by merging similar categories:
    - `"2n Cycle"` and `"Graduation"` → `"Graduate"`.
    - `"Master"` and `"PhD"` → `"Postgraduate"`.
    - `"Basic"` kept as `"Basic"`.
- **Date Parsing:** Converted `Dt_Customer` to proper datetime format for tenure calculations.

### 2. Feature Engineering
Created meaningful new variables to better represent customer behavior and demographics:

| Feature | Description | Insight |
|----------|--------------|----------|
| **Age** | `current_year - Year_Birth` | Captures life stage and spending maturity. |
| **Children** | `Kidhome + Teenhome` | Indicates family size and dependency load. |
| **Customer_For_years** | Tenure calculated from `Dt_Customer`. | Reflects customer loyalty and relationship length. |
| **TotalMnt** | Sum of all `Mnt*` (spending) columns. | Represents overall spending volume. |
| **TotalPurchases** | Sum of all `Num*Purchases` columns. | Measures overall purchase activity. |
| **AvgMntPerPurchase** | `TotalMnt / TotalPurchases`. | Shows average order value per transaction. |
| **WebPurchaseShare**, **CatalogPurchaseShare**, **StorePurchaseShare** | Ratio of purchases per channel. | Highlights preferred shopping channels. |
| **DealPurchaseRate** | `NumDealsPurchases / TotalPurchases`. | Indicates price sensitivity or bargain-hunting behavior. |
| **CampaignsAccepted** | Sum of all `AcceptedCmp*` columns. | Shows how often the customer accepted previous campaigns. |
| **Responded** | Binary flag from `Response` (1 if accepted last campaign). | Reflects latest engagement behavior. |

### 3. Why These Features Matter
These engineered features summarize customer spending habits and engagement patterns.  
They help us:
- Compare **planned vs. impulsive** shoppers (e.g., high deal rate vs. low deal rate).
- Understand **loyalty** and **tenure** (longer customers may behave differently).
- Detect **channel preferences** (online vs. in-store).
- Prepare for building **spending personality profiles** (Saver, Splurger, Planner, etc.).

---

The dataset is now cleaned, consistent, and enriched with features ready for exploratory analysis.